
{% extends 'base.html' %}

{% block content %}

<header>
  {% block nav %} {% include 'nav-min.html' %} {% endblock nav %}
</header>

<div class="container mt-5 bg-white text-center passwordresetdone">
  <img src="https://img.icons8.com/color/96/000000/verified-account.png" class="mt-5">
  <p class="mt-5">We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.</p>
  <p>If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.</p>
</div>

<footer>
  {% block footer %} {% include 'footer-min.html' %} {% endblock footer %}
</footer>
{% endblock %}
