{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<header>
  {% block nav %} {% include 'nav-min.html' %} {% endblock nav %}
</header>


<div class="container mt-5 my-5 passwordresetdiv">
  <div>
    <div class="text-center">
      <img src="https://img.icons8.com/cute-clipart/64/000000/forgot-password.png" class="mt-5 align-items-lg-center">
    </div>
      <h2 class="text-center">Forgot Your Password</h2>
      <h5 class="mt-5 text-center">Enter your email address below to reset your password.</h5>
      <h5 class="text-center">We'll send you a link to reset your password.</h5>
  </div>
  <div class="col-lg-8 mx-auto">
    <form method="post">
      {% csrf_token %}
      {{ form.email|as_crispy_field }}
      <button type="submit" class="btn btn-primary login-submit mt-5 w-100 ml-1">Reset & Send</button>     
    </form>
  </div>  
</div>

<footer class="passwordresetfooter">
  {% block footer %} {% include 'footer-min.html' %} {% endblock footer %}
</footer>

{% endblock %}
