body {
    background-color: #F4F4F4;
    font-family: 'Lato';
}

/* vmware logo */
img.img-responsive.vmware {
    height: 3rem;
}

/* vmware logo ends */

.btn-primary {
    background-color: #96B46B;
    border-color: #96B46B;
}

.bg-light {
    opacity: 1.3;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #0C5061 !important;
}

.scholarshipsofstudentdashboard {
    background-color: #F4F4F4;
    border-color: none !important;
    box-shadow: #0C3061;
}

.rounded-circle {
    border-radius: 50% !important;
    height: 10rem;
}

/* NAVBAR  */

.bg-light {

    opacity: 1.3;
}

.passwordresetdone {
    height: 24rem;
}

footer.footerofupload {
    margin-top: 18rem;
}

.footer-input {
    background: #FFFFFF;
    border-radius: 24px;
}

.footer-subscribe {
    border-radius: 0px 24px 24px 0px;
}

/* @media (max-width: ) { */


@media (max-width: 400px) {
    .profilecontainer {
        width: 23rem;
        margin-top: 7rem;
    }

    .profilerow {
        margin-left: -2rem;
    }

}


@media (max-width: 576px) {
    .trusted_emphasis {
        font-size: medium;
    }
}

@media (max-width: 768px) {
    .trusted_emphasis {
        font-size: medium;
    }
}

@media (max-width: 992px) {
    .trusted_emphasis {
        font-size: medium;
    }
}

/*  */

form.form-inline.navbar-form {
    margin-left: 70px;
}

.navbar-form input.form-control {
    border-left: none !important;
    background: white;
    font-family: Lato;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.42);
}

.navbar-form span#basic-addon1 {
    background: white;
    border-radius: 50% 0% 0 50%;
}

a.nav-link.signup {
    background-color: #8DB859;
    color: #fff !important;

    width: 90px;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;

}

.nav-button {
    background: #8DB859;
    border-radius: 0px 24px 24px 0px;
    margin-left: -1px;
    font-family: Lato;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

@media (max-width: 576px) {
    .text-center {
        text-align: center !important;
        font-size: x-large;
    }

    button.btn.btn.btn-primary.px-5 {
        font-size: x-small;
    }
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 13rem;
}

/* subscribe button */

a.subscribe.text-white {
    padding-left: 1rem;
}

input.form-control.form-rounded {
    border-radius: 9rem;
}

span#basic-addon2 {
    border-radius: 7rem;
    margin-left: -1rem;
}

/* subscribe button ends */

/* homepagepic */
.homepagepic {
    border-radius: 1rem;
}

/* homepagepic ends */

a.nav-link.login {
    color: rgba(0, 0, 0, .7);
    width: 85px;
    text-align: center;
    margin-left: 10px;
}

ul.navbar-nav.navbar-right {
    margin-left: auto;
    margin-right: 50px;
}

hr.vertical {
    border: 2px solid white;
    width: 0px;
    height: 100%;
    margin-top: 0px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: .5rem;
    }
}

@media (max-width: 908px) {
    form.form-inline.navbar-form {
        margin-left: 0px;
        margin-right: 100px;
    }
}

/* NAVBAR ENDS */



/* CAROUSEL */
.carousel-caption {
    position: absolute;
    bottom: 60px;
    left: 13%;
    padding-top: 11px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

/* .carousel-caption h1 {
    font-size: 56px !important;
    text-align: left;
    font-weight: 800;
    margin-bottom: -2.5rem;
} */

/* .caption {
    position: absolute;
    font-weight: 800;
    top: 45%;
    left: 0;
    width: 100%;
} */



/* .captionp {
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
} */

.carousel-caption div {
    margin-top: 185px;
}

@media (max-width: 570px) and (max-width:661px) {
    .carousel-caption h1 {
        font-size: 50px !important;
    }
}

@media (max-width: 1200px) {
    .carousel-caption div {
        margin-top: 65px;
    }

    .carousel-caption h1 {
        font-size: 50px !important;
    }
}

@media (max-width: 980px) {
    .carousel-caption {
        bottom: 53px;
    }

    .carousel-caption div {
        margin-top: 40px;
    }

    .carousel-caption h1 {
        font-size: 31px !important;
    }

}

@media (max-width: 768px) {

    .carousel-caption p {
        font-size: 13px;
    }

    .carousel-caption {
        bottom: 60px;
    }

    .carousel-caption div {
        margin-bottom: -30px;
    }
}

@media (max-width: 712px) {
    .carousel-caption {
        bottom: 20px;
    }

}

@media (max-width: 436px) {
    .carousel-caption {
        width: 282px;
    }
}

@media (max-width: 412px) {
    .carousel-caption {
        padding-bottom: 50px !important;
    }

    .carousel-caption h1 {
        font-size: 31px !important;
    }
}

@media (max-width: 375px) {
    .carousel-caption h1 {
        font-size: 24px !important;
    }

    .carousel-caption {
        bottom: 23px;
    }
}

/* CAROUSEL ENDS */





h2.sponsors-header {
    font-size: 32px;
    text-align: center !important;
}

.sponsors-header span {
    border-bottom: 3px solid #0C5061;
}



/* ABOUT SECTION */

.about-header span {
    border-bottom: 3px solid white;
}

.btn-outline-secondary {
    color: #96B46B;
    border-color: #96B46B;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
    background-color: #96B46B !important;
}

/*ABOUT SECTION */




/* impact */
.impact-header span {
    border-bottom: 3px solid #0C5061;
}

.card-body.line {
    border-left: thick solid #0c5061;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


@media (max-width: 570px) {

    .carousel-item {
        height: 63vh;
    }

    .quality {
        font-size: xx-large;
    }

    img.d-block.w-100.img-responsive {
        height: 66vh;
        object-fit: cover;
    }

    .p-2.my-5.bd-highlight.d-sm-inline-flex {
        margin-left: -3rem;
    }
}




.subscribe.text-white:hover {
    text-decoration: none;
}

/* BLOG */
.top-square-content {
    width: 350px;
    /* position: absolute; */
    bottom: 6px;
    background: #fff;
    opacity: 0.8;
    padding-bottom: 20px;
    margin-top: -13rem;
}

.top-square-content h4 {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 20px;
    color: #4A90E2;
}

.top-square-content h3 {
    margin-left: 20px;
    font-size: 18px;
}

.top-square-content p {
    font-size: 14px;
    margin-left: 20px;
}

.top-square-content footer {
    margin-left: 20px;
    font-size: 14px;
}

/* .row.blog-header {
    margin-top: 110px;
    margin-bottom: 50px; */
/* margin-left: 77px; */

.row.jumbotron-head {
    margin-bottom: 80px;
}

.blog-content h4 {
    font-size: 12px;
    color: #4A90E2;
    margin-left: 10px;
}

.blog-content h3 {
    margin-left: 10px;
    font-size: 18px;
}

.blog-content p {
    margin-left: 0px;
    font-size: 14px;
}

.blog-content1 span {
    font-size: 14px;
    color: #6A7890;
}

.blog-content2 {
    margin-top: 40px;
}

.blog-showmore {
    width: 120px;
    padding: 8px 5px;
    /* margin: 40px 45%; */
    background: white;
    border: 1px solid grey;
}

.card-container {
    margin-bottom: -160px;
}

.card-img-overlay {
    position: relative;
    width: 442px;
    height: 199px;
    left: -1px;
    top: -198px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 0px 1px 8px #F0F0F0;
    color: #000;
}

@media (max-width: 420px) {
    .card-img-overlay {
        width: 200px;
        height: 105px;
        top: -105px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
    }

    .card-container {
        margin-bottom: -90px;
    }
}



/* BLOG SECTION ENDS */



/* SIGN UP */

.form-sidebar .panel-default {
    /* background: #FFFFFF; */
    padding: 40px;
}

h2.signup-header {
    margin-top: 30px;
    text-align: center;
    font-size: 32px;
}

p.scholarship-para {
    text-align: center;
    font-size: 18px;
    margin-bottom: 28px;
}



/* SCHOLARX VILLAGE */
.scholarxvillage-jumbotron {
    background-image: url('https://res.cloudinary.com/schohxlg/image/upload/q_auto:best/v1562757358/villagepic_vnyeyo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.scholarxvillage-jumbotron h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin-top: 100px;
}

.scholarxvillage-jumbotron div {
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    text-align: center;
}

.scholarxvillage-jumbotron h3 {
    font-size: 42px;
}

.imgmodal {
    background-color: transparent;
}

.modal-content {
    border: none !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
  .shape {
    clip-path: polygon(0 1%, 100% 0, 100% 92%, 0% 100%);
  }

  .tilt {
    transform-style: preserve-3d;
  }
  

@media screen and (max-width: 1400px) {
    @-moz-document url-prefix() {
        .imgmodal {
            height: 570px;
        }
    }
}

@media screen and (max-width: 1200px) {
    @-moz-document url-prefix() {
        .imgmodal {
            height: 510px;
        }
    }
}

@media screen and (max-width: 816px) {
    @-moz-document url-prefix() {
        .imgmodal {
            height: 460px;
        }
    }
}

@media screen and (max-width: 800px) {
    @-moz-document url-prefix() {
        .imgmodal {
            height: 345px;
        }
    }
}

@media screen and (max-width: 768px) {
    @-moz-document url-prefix() {
        .imgmodal {
            height: 350px;
        }
    }
}

@media screen and (max-width: 504px) {
    @-moz-document url-prefix() {
        .imgmodal {
            height: 280px;
        }
    }
}

@media screen and (max-width: 414px) {
    @-moz-document url-prefix() {
        .imgmodal {
            height: 195px;
        }
    }
}

@media screen and (max-width: 375px) {
    @-moz-document url-prefix() {
        .imgmodal {
            height: 175px;
        }
    }
}

@media screen and (max-width: 280px) {
    @-moz-document url-prefix() {
        .imgmodal {
            height: 160px;
        }
    }
}


@media screen and (max-width: 256px) {
    @-moz-document url-prefix() {
        .imgmodal {
            height: 155px;
        }
    }
}

/* @media (max-width:480px){
    .device {
        margin-top: -3rem;
        margin-left: -2rem;
    }
} */
@media (max-width: 600px) {
    .scholarxvillage-jumbotron h3 {
        font-size: 32px;
    }
}

@media (max-width: 393px) {
    .passwordfirst {
        margin-top: 3rem;
    }

    .confirmpassword {
        margin-top: 24px;
    }

    .signupimage {
        margin-left: -4rem;
    }
}

/* END SCHOLARX VILLAGE */


/* LOGIN STARTS */
span.joinus-login {
    color: #8DB859;
    font-size: 18px;
}

.login-nav {
    margin-left: auto;
    font-size: 18px;
}

.row.login-form {
    margin-top: 50px;
}

.login-form-inner h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: #333333;
}

p.facebook-login {
    width: 80%;
    border: 1px solid #1D4294;
    text-align: center;
    padding: 10px 0px;
    background: #1D4294;
    margin: 10px 40px;
    border-radius: 5px;
}

p.google-login {
    width: 80%;
    border: 1px solid #D84830;
    text-align: center;
    padding: 10px 0px;
    background: #D84830;
    margin: 10px 40px;
    border-radius: 5px;
}

.login-submit {
    width: 100%;
    border: 1px solid #8DB859;
    text-align: center;
    padding: 10px 0px;
    background: #8DB859;
    /* margin: 10px 40px; */
    border-radius: 5px;
}

.facebook-login a,
.google-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

p.login-or {
    text-align: center;
    font-size: 18px;
}

span.forgot-passsword {
    margin-left: 160px;
    color: #8DB859;
    font-size: 14px;
}

.form-check-label {
    font-size: 14px;
}


/* LOGIN SECTION ENDS */




/* USER SECTION */
.user-section {
    margin-top: 120px;
}

h2.user-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.user-content {
    padding: 20px;
}

.user-content h3 {
    font-size: 18px;
}

.user-content p {
    font-size: 14px;

}

.user-content .cta {
    width: 362px;
    height: 82px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px #EDEDEE;
    border-radius: 3px;
}

.user-content .subscribe {
    width: 362px;
    height: 177px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px #EDEDEE;
    border-radius: 3px;

}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 0.7rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .65rem;
}

.user-section span {
    color: #8DB859;
}

.user-section h4 {
    font-size: 16px;
}

.user-content footer {
    font-size: 12px;
    color: #4A90E2;
}

img.img-responsive.managecampaign {
    margin-left: 105px;
}

img.img-responsive.sponsorstudent {
    margin-left: 131px;
    width: 53px;
    height: 41px;
}

img.img-responsive.skillsfund {
    width: 46.52px;
    height: 38.65px;
    margin-left: 120px;
}

img.img-responsive.Quickstaff {
    width: 46px;
    margin-left: 156px;
}

.user-content div {
    float: left;
    margin-bottom: 51px;
}

.col-lg-4.col-md-4.col-sm-12.user-content1 {
    margin-top: 30px;
}

/* USER SECTION ENDS */



/* DASHBOARD */

hr.caution {
    border-bottom: 3px solid #0C3061;
}

.bluepart {
    background-color: rgb(158, 217, 245);
    height: 8rem;
}

/* DASHBOARD ENDS */

/* richards dance formula */
.dance {
    transform: translateY(0px);
    transition: .5s;

}

.dance:hover {
    transform: translateY(-10px);
    transition: .5s;
    text-decoration: none;
}

/* dance formula ends */

.col-lg-4.col-md-4.col-sm-12.campaigns {
    height: 23rem;
}

.card.sponsorcard {
    margin-top: 11rem;
}

.card.mt-3.campaigns {
    height: 6rem;
}

.card.mt-3.skillsfunds {
    height: 6rem;
}

.card.mt-3.fund {
    height: 6rem;
}

.card.mt-3.staff {
    height: 6rem;
}

.h-50.campaigns {
    margin-left: 4rem;
}

.h-50.skillsfunds {
    margin-left: 5rem;
}

.h-50.fund {
    margin-left: 9rem;
}

.h-50.staff {
    margin-left: 8rem;
    margin-top: -10px;
}

.toptext {
    margin-top: -3rem;
    margin-left: 6rem;
}

.modal {
    display: block;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    margin: auto;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* STATISTICS SECTION */
h3.statistics-heading {
    font-size: 16px;
    /* margin-left: 100px; */
}

.col-lg-8.col-md-8.col-sm-12.statistics-rule {
    margin-right: 0px;
    padding-right: 100px;
}

/* progress bar */

.fund-progress-bar {
    /* width: 100%;
    color: #E5E5E5 !important; */
    border-radius: 22px;

}

/* .fund-progress-bar-fill {
    
    height: 9px;
    background-color: #8db859;
    border-radius: 22px;
} */
progress[value] {
    width: 100%;
    height: 6.49px;
    left: 81.06px;
    top: 824.64px;
    background: #EDEDED;
    /* border-radius: 6px; */
}

progress[value]::-webkit-progress-bar {
    background: #EDEDED;
    border-radius: 2px;

}

progress[value]::-webkit-progress-value {
    background: #8db859;
    border-radius: 6px;
}

progress::-moz-progress-bar {

    background: #8db859;
    border-radius: 6px;
}

/* progress bar end */

/* FUNDRAISER SECTION */
.row.fund-raiser-section {
    margin-top: 50px;
}

h4.fundraiser-header {
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
    color: #A9ACAF;
}

img.img-responsive.campaignperson {
    width: 100%;
}

.campaign-panel h4 {
    font-size: 16px;
}

.campaign-panel p {
    font-size: 12px;
}

.campaign-panel span {
    font-size: 12px;
    color: #4A90E2;
}

span.first-panel-span {
    color: #B2B8BF;
    margin-right: 15px;
}

.fund-raiser-section button {
    width: 195px;
    height: 40px;
    color: #8DB859;
    background: white;
    border: 1px solid #8DB859;
    border-radius: 4px;
    margin: 65px 40%;
}

/* FUNDRAISER SECTION ENDS */


@media (max-width: 576px) {

    .d-flex.flex-column.bd-highlight.flex-sm-column {
        margin-left: 5rem;
        margin-top: -7rem;
    }

    .card-text:last-child {
        margin-top: -1rem;
        white-space: nowrap;
        font-size: small;
    }

    .bluepart {
        background-color: rgb(158, 217, 245);
        height: 11rem;
    }

    .toptext {
        margin-top: -3rem;
        margin-left: 6rem;
    }

    .col-lg-4.col-md-4.col-sm-12.campaigns {
        height: 34rem;
    }

    .col-lg-4.col-md-4.col-sm-12.fund {
        height: 35rem;
        margin-top: -15rem;
    }
}

@media (min-width: 770px) and (max-width: 990px) {
    .card-title.fundrequest {
        font-size: small;

    }

    .card-text.active {
        font-size: x-small;
    }

    .col-lg-4.col-md-4.col-sm-12.campaigns {
        height: 34rem;
    }

    .card-title.campaigns {
        font-size: small;
        margin-left: -1rem;
        white-space: nowrap;
    }

    .card-text:last-child {
        margin-top: -1rem;
        margin-left: -1rem;
        white-space: nowrap;
        font-size: x-small;
    }

    .col-lg-4.col-md-4.col-sm-12.fund {
        height: 35rem;
    }

    .h-50.campaigns {
        margin-left: 1rem;
        margin-top: 0rem;
    }

    .card-title.fund {
        font-size: small;
        margin-left: -1rem;
        white-space: nowrap;
    }

    .h-50.skillsfunds {
        margin-left: 2rem;
        margin-top: -9px;
    }

    .h-50.fund {
        margin-left: 4rem;
        margin-top: -13px;
    }

    .card.mt-3.fund {
        height: 5rem;
    }

    .card-title.staff {
        font-size: small;
        margin-left: -1rem;
        white-space: nowrap;
    }

    .h-50.staff {
        margin-left: 2rem;
    }

    .card-title.skills {
        font-size: small;
        margin-left: -1rem;
        white-space: nowrap;
    }

    .card.mt-3.skillsfunds {
        height: 5rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .col-lg-4.col-md-4.col-sm-12.campaigns {
        height: 34rem;
    }

    .card-title.campaigns {
        font-size: small;
        margin-left: -1rem;
        white-space: nowrap;
    }

    .card-text:last-child {
        margin-top: -1rem;
        margin-left: -1rem;
        white-space: nowrap;
        font-size: x-small;
    }

    .col-lg-4.col-md-4.col-sm-12.fund {
        height: 35rem;
    }

    .h-50.campaigns {
        margin-left: 5rem;
        margin-top: 0rem;
    }

    .card-title.fund {
        font-size: small;
        margin-left: -1rem;
        white-space: nowrap;
    }

    .h-50.skillsfunds {
        margin-left: 7rem;
        margin-top: -9px;
    }

    .h-50.fund {
        margin-left: 9rem;
        margin-top: -13px;
    }

    .card.mt-3.fund {
        height: 5rem;
    }

    .card-title.staff {
        font-size: small;
        margin-left: -1rem;
        white-space: nowrap;
    }

    .h-50.staff {
        margin-left: 7rem;
    }

    .card-title.skills {
        font-size: small;
        margin-left: -1rem;
        white-space: nowrap;
    }

    .card.mt-3.skillsfunds {
        height: 5rem;
    }
}



/* DASHBOARD END */


/* SCHOLARSHIPS */
/* .row.trends-section {
    margin-top: 70px;
    text-align: center;
}

h3.trends-header {
    margin-bottom: 10px;
    font-size: 32px;
    text-align: center !important;
}

.trends-content {
    text-align: left;
}

.trends-content h4 {
    font-size: 16px;
}

.trends-content p {
    font-size: 14px;
}

.trends-content footer span {
    font-size: 12px;
    color: #99bf6a;
}

.container.trends-content {
    margin-bottom: 30px;
}

.trends-section button {
    width: 264px;
    height: 56px;
    color: #99bf6a;
    background: white;
    border: 2px solid #99bf6a;
    border-radius: 5px;
} */

/* SCHOLARSHIPS END */

/* blogpost querry */
@media (max-width: 576px) {
    .topblogpost {
        font-size: smaller;

    }
}

/* end of blogpost querry */

/* login querry */
@media (max-width: 576px) {
    p.facebook-login {
        width: 95%;
        border: 1px solid #1D4294;
        text-align: center;
        padding: 10px 0px;
        background: #1D4294;
        margin: 10px 3px;
        border-radius: 5px;
    }

    p.google-login {
        width: 95%;
        border: 1px solid #D84830;
        text-align: center;
        padding: 10px 0px;
        background: #D84830;
        margin: 10px 3px;
        border-radius: 5px;
    }

    h2.login {
        font-size: larger;
    }
}

@media (max-width: 768px) {
    p.facebook-login {
        width: 95%;
        border: 1px solid #1D4294;
        text-align: center;
        padding: 10px 0px;
        background: #1D4294;
        margin: 10px 3px;
        border-radius: 5px;
    }

    p.google-login {
        width: 95%;
        border: 1px solid #D84830;
        text-align: center;
        padding: 10px 0px;
        background: #D84830;
        margin: 10px 3px;
        border-radius: 5px;
    }

    h2.login {
        font-size: larger;
    }
}

/* password reset */
.passwordresetdiv {
    background-color: white;
    border: 1px solid #ddd;
    height: 30rem
}


@media (max-width: 576px) {
    .passwordresetfooter {
        margin-top: 27rem;
    }

    .passwordresetdiv {
        background-color: white;
        border: 1px solid #ddd;
        height: 35rem
    }

}


@media (max-width: 768px) {
    .passwordresetfooter {
        margin-top: 27rem;
    }
}


@media (max-width: 992px) {
    .passwordresetfooter {
        margin-top: 27rem;
    }
}


@media (max-width: 1200px) {
    .passwordresetfooter {
        margin-top: 27rem;
    }
}

@media (min-width: 1201px) {
    .passwordresetfooter {
        margin-top: 27rem;
    }
}

/*password reset footer end */
@media (max-width: 576px){
    .card.bg-light.mt-5.dance {
        margin-left: 5px;
    }
}
@media (min-width: 768px){
    .card.bg-light.mt-5.dance {
        margin-left: 2rem;
    }
}

/* nav-min responsive */
@media (max-width: 576px) {
    .navbarmargin {
        margin-top: 1rem;
    }
   
}


@media (max-width: 768px) {
    .navbarmargin {
        margin-top: 1rem;
    }
    .card.bg-light.mt-5.dance {
        margin-left: 2rem;
    }
}



@media (max-width: 992px) {
    .navbarmargin {
        margin-top: 1rem;
    }
}


@media (max-width: 1200px) {
    .navbarmargin {
        margin-top: 1rem;
    }
}

@media (min-width: 1201px) {
    .navbarmargin {
        margin-top: 1rem;
    }
}

/* nav-min responsiveness end */


/* loader css */

.overlay-p {
    height: 1400px;
}

.scholarX-load {
    width: 70px;
    height: 70px;
    display: block;
    margin-top: 260px !important;
    margin: auto;
    animation: pulse 0.8s ease-in-out infinite;
}

#overlay {
    z-index: 10;
    width: 100%;
    height: 600px;
    background: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #eee;
    border-right: 4px solid #eee;
    border-bottom: 4px solid #86A84B;
    border-left: 4px solid #86A84B;
    width: 120px;
    height: 120px;
    -moz-animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse
}

/* small loader */

.small-loader {
    position: absolute;
    margin: auto;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #eee;
    border-right: 4px solid #eee;
    border-bottom: 4px solid #86A84B;
    border-left: 4px solid #86A84B;
    width: 40px;
    height: 40px;
    margin: -35px -50px 0px 0px;
    -moz-animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

/* Responsiveness */
@media screen and (min-width : 320px) {
    .ikenga-load {
        top: 340px;
    }
}

/* style for microsoft edge begins */

@supports (-ms-ime-align: auto) {
    .scholarxvillage-jumbotron h2 {
        color: white;
        font-size: 50px;
        text-align: center;
        font-weight: 600;
        margin-top: 100px;
    }

    .scholarxvillage-jumbotron div {
        color: white;
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        text-align: center;
    }

    .scholarxvillage-jumbotron h3 {
        font-size: 42px;
    }

    progress[value] {
        width: 100%;
        height: 6.49px;
        left: 81.06px;
        top: 824.64px;
        background: #EDEDED;
        border: #EDEDED
    }
    .shape {
        -webkit-clip-path: polygon(0 1%, 100% 0, 100% 92%, 0% 100%);
      }

}

/* style for microsoft edge ends */
button.search-button {
    font-size: 12px;
    border-radius: 20px;
    line-height: 16px;
}
/* .hamburger{

}
.hamburger:after,
.hamburger:before,
.hamburger div{
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: .2s;
} */

.scholarshipsearch {
    display: flex;
    flex-direction: row;
}
.scholar {
    margin-left: 1rem;
    background-color: #8DB859;
    border-color: #8DB859;
    color: white;
    border-radius: 5rem;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

