


{% load static %}
{% block footer %}

<!-- <div class="d-flex align-items-end"> -->
<footer class="container" style="margin-top: 20rem">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <a href="https://www.facebook.com/ScholarxPage/?ref=br_rs" target="_blank"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1561980538/scholarx.co/icons/facebook_hmk0mk.png" class="ml-2"></a>
            <a href="https://twitter.com/scholarxEdu" target="_blank"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1561980538/scholarx.co/icons/twitter_tanftm.png" class="ml-2"></a>
            <a href="https://www.instagram.com/scholarx/" target="_blank"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1561980538/scholarx.co/icons/instagram_mtrcfs.png" class="ml-2"></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            {% if request.organization.name == "scholarx"%}
            <p>&copy; Scholarx, All rights reserved</p>
            {% else %}
            <p>&copy; {{request.organization.name}}, powered by <a href="http://scholarx.co/">Scholarx</a>, All rights reserved</p>
            {% endif %}
        </div>
    </div>
</footer>



{% endblock footer %}