
{% extends "base.html" %}
{% load static %}
{% block title %} About {% endblock %}
{% block content %}



<header>
{% block nav %} {% include 'nav.html' %} {% endblock nav %}
</header>


<main>
<div class="container" style ='margin-top: 110px;' id ='team'>
<h2 class="sponsors-header mt-4 text-center">Our<span> Te</span>am</h2>
<!-- management section -->
<div class="row">
    <div class="col-md-4">
        <div class="d-inline-flex p-2 bd-highlight dance">
        <a href="https://www.linkedin.com/in/bola-lawal-3344ba32/" target="_blank" class="text-dark text-decoration-none">
            <div class="d-flex flex-row bd-highlight mt-5">
                <div class="p-2 bd-highlight"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1565270086/scholarx.co/About%20us%20page%20%28new%29/bola_lawal_qxjzrl.png"></div>
                    <div class="p-2 bd-highlight mt-5">
                        <p class="font-weight-bold">Bola Lawal</p>
                        <p class="">Co-Founder/CEO</p>
                    </div>
                </div>  
              </a>    
            </div>
        </div>

    
    <div class="col-md-4">                
        <div class="d-inline-flex p-2 bd-highlight dance">
                <a href="https://www.linkedin.com/in/damilola-emuze-187389166/" target="_blank" class="text-dark text-decoration-none">
            <div class="d-flex flex-row bd-highlight mt-5">
                <div class="p-2 bd-highlight"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1565270087/scholarx.co/About%20us%20page%20%28new%29/dami_xnjcgp.png"></div>
                    <div class="p-2 bd-highlight mt-5">
                        <p class="font-weight-bold">Damilola Emuze</p>
                        <p class="">Co-Founder/COO</p>
                    </div>
                </div> 
                </a>   
            </div>
        </div>   
        <div class="col-md-4">                
            <div class="d-inline-flex p-2 bd-highlight dance">
                    <a href="https://www.linkedin.com/in/maxwell-ogunfuyi-3581a68/" target="_blank" class="text-dark text-decoration-none">
                <div class="d-flex flex-row bd-highlight mt-5">
                    <div class="p-2 bd-highlight"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1565270087/scholarx.co/About%20us%20page%20%28new%29/maxwell_zb7vg0.png"></div>
                        <div class="p-2 bd-highlight mt-5">
                            <p class="font-weight-bold">Maxwell Ogunfuyi</p>
                            <p class="">Co-Founder/CTO</p>
                        </div>
                    </div> 
                    </a>   
                </div>
            </div>
                    
    </div> 
    
</div>  <!-- end of management section -->

                    
<div class="container">
    <!-- employees section -->
    

            <div class="container" id = 'advisors'>
                <!-- advisors section -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="d-inline-flex p-2 bd-highlight">
                            <div class="d-flex flex-row bd-highlight mt-5">
                                <div class="p-2 bd-highlight">
                                    <h3>Advisors</h3>
                                </div>     
                            </div>    
                        </div>
                    </div>
                    <div class="col-md-4">                
                        <div class="d-inline-flex p-2 bd-highlight dance">
                                <a href="https://www.linkedin.com/in/wasiulawal/" target="_blank" class="text-dark text-decoration-none">
                            <div class="d-flex flex-row bd-highlight mt-5">
                                <div class="p-2 bd-highlight"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1565270086/scholarx.co/About%20us%20page%20%28new%29/lawal_xijgiu.png"  class="img-rounded"></div>
                                    <div class="p-2 bd-highlight mt-5">
                                        <p class="font-weight-bold">Wasiu Lawal</p>
                                    </div>
                                </div> 
                                </a>   
                            </div>
                        </div>
                    
                    <div class="col-md-4">                
                        <div class="d-inline-flex p-2 bd-highlight dance">
                                <!-- <a href="https://www.linkedin.com/in/wasiulawal/" target="_blank" class="text-dark text-decoration-none"> -->
                            <div class="d-flex flex-row bd-highlight mt-5">
                                <div class="p-2 bd-highlight"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1565270088/scholarx.co/About%20us%20page%20%28new%29/oseni_wpbtt0.png"  class="img-rounded"></div>
                                    <div class="p-2 bd-highlight mt-5">
                                        <p class="font-weight-bold">Ayo Oseni</p>
                                    </div>
                                </div>  
                                </a>  
                            </div>
                        </div>                   
                    </div> 
                </div>  <!-- end of advisors section -->     
                
                <div class="container">
                    <!-- advisors section -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-inline-flex p-2 bd-highlight">
                                    <div class="d-flex flex-row bd-highlight mt-5">
                                        <div class="p-2 bd-highlight">
                                            <h3></h3>
                                        </div>
                                            
                                    </div>    
                                </div>
                            </div>
                            <div class="col-md-4">                
                                <div class="d-inline-flex p-2 bd-highlight dance">
                                        <a href="https://www.linkedin.com/in/belloidris/" target="_blank" class="text-dark text-decoration-none">
                                    <div class="d-flex flex-row bd-highlight mt-5">
                                        <div class="p-2 bd-highlight"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1565270086/scholarx.co/About%20us%20page%20%28new%29/bello_ylctgb.png" class="img-rounded"></div>
                                            <div class="p-2 bd-highlight mt-5">
                                                <p class="font-weight-bold">Idris Bello</p>
                                                <!-- <p class="">Content Analyst</p> -->
                                            </div>
                                        </div> 
                                        </a>   
                                    </div>
                                    <!-- <input type="text"> -->
                                </div>
                            <div class="col-md-4">                
                                <div class="d-inline-flex p-2 bd-highlight dance">
                                     <a href="https://www.linkedin.com/in/moeodele/" target="_blank" class="text-dark text-decoration-none">
                                    <div class="d-flex flex-row bd-highlight mt-5">
                                        <div class="p-2 bd-highlight"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1565270087/scholarx.co/About%20us%20page%20%28new%29/odele_vsslyj.png" class="img-rounded"></div>
                                            <div class="p-2 bd-highlight mt-5">
                                                <p class="font-weight-bold">Moe odele</p>
                                                <!-- <p class="">Community Associate</p> -->
                                            </div>
                                        </div> 
                                        </a>   
                                    </div>
                                </div>                   
                            </div> 
                        </div> <!-- end of advisors section -->  


<div class="container">
    <!-- advisors section -->
        <div class="row">
            <div class="col-md-4">
                <div class="d-inline-flex p-2 bd-highlight ">
                    <div class="d-flex flex-row bd-highlight mt-5">
                        <div class="p-2 bd-highlight">
                            <h3></h3>
                        </div>   
                    </div>    
                </div>
            </div>

    
            <div class="col-md-4">                
                <div class="d-inline-flex p-2 bd-highlight dance">
                        <a href="https://www.linkedin.com/in/lola-walker-2827b42/" target="_blank" class="text-dark text-decoration-none">
                    <div class="d-flex flex-row bd-highlight mt-5">
                        <div class="p-2 bd-highlight"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1565270088/scholarx.co/About%20us%20page%20%28new%29/walker_ogy7wx.png" class="img-rounded"></div>
                            <div class="p-2 bd-highlight mt-5">
                                <p class="font-weight-bold">Lola Walker</p>
                                <!-- <p class="">Content Analyst</p> -->
                            </div>
                        </div>  
                        </a>  
                    </div>
                </div>
        <div class="col-md-4">                
            <div class="d-inline-flex p-2 bd-highlight dance">
                    <a href="https://www.linkedin.com/in/adeolu-adebari-crcm-cams-a1522715/" target="_blank" class="text-dark text-decoration-none">
                <div class="d-flex flex-row bd-highlight mt-5">
                    <div class="p-2 bd-highlight"><img src="https://res.cloudinary.com/schohxlg/image/upload/v1565270086/scholarx.co/About%20us%20page%20%28new%29/adebari_xbjku8.png" class="img-rounded"></div>
                        <div class="p-2 bd-highlight mt-5">
                            <p class="font-weight-bold">Adeolu Adebari</p>
                            <!-- <p class="">Community Associate</p> -->
                        </div>
                    </div> 
                    </a>   
                </div>
            </div>                   
    </div> 
</div>  
            <!-- end of advisors section -->                                                    
<h2 class="sponsors-header text-center" id="newsandmedia" style="margin-top: 5rem">Media<span> Fe</span>atures</h2>   
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <p class="mt-5" >Press Highlight-</p>
            <h2>This startup is banking on the diaspora to help plug Nigeria's education shortcomings</h2>
            <a href="https://bit.ly/2XIxLf5" target="_blank" class="text-decoration-none" style="color:#8db859">Read article &rarr;</a>
        </div>
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/schohxlg/image/upload/q_auto:best/v1563370070/Media_h2z32w.png"  class="ml-3 h-2 w-100 img-fluid img-responsive">
        </div>
    </div>
</div>               
</main>



<header>
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
</header>



{% endblock %}